.sidebarOption {
    display: flex;
    align-items: center;
    color: grey;
    height: 40px;
    transition: 150ms color ease-in;
}

.sidebarFunctions {
    display: flex;
    align-items: center;
    transition: 150ms color ease-in;
}

.sidebarFunctions:hover {
    color: white;
    cursor: pointer;
}

.sidebarOption_icon {
    padding-left: 10px;
    padding-right: 10px;
}

.sidebarOption > button {
    display: flex;
    color: grey;
    background-color: #040404;
    outline: none;
    border: none;
    align-items: center;
    margin-left: 20px;
    font-size: 14px;
    transition: 0.15s color ease-in;
}

.sidebarOption > button:hover {
    color: white;
    cursor: pointer;
}
